<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<div class="container text-center">
<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>

<h2><%= @list.name %></h2>

 <% @list.eamovies.each do |movie| %>
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= movie.overview %>
  </p>

    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>

<%= link_to "Create a bookmark",  new_list_bookmark_path(@list) %>


<%= link_to "All Lists", lists_path %>
</div>
